# CLion
.idea/
*.iml

# VSCode
.vscode/

# CMake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
install_manifest.txt
Makefile
Testing/
_deps/

# Build directories
cmake-build-*/

# Build artifacts
*.o
*.a
*.so
*.dylib
*.exe
*.dll
*.out

# Misc
*.sdf
*.suo
*.user
*.userprefs
*.pidb
*.ilk
*.pdb
*.opendb
*.opensdf
